//
   Created by zhhyan on 13-12-26.

.detail-list-item
    .detail-user-avatar
        img(alt='Avatar', src='http://tp4.sinaimg.cn/1713926427/50/40000875722/0')
    .detail-wrapper
        .detail-user-name User Name
        .detail-text Content. You can say anything here. Really?
        ul.detail-media-list
        .detail-info
            a.post-time Today 23:23
            a.comment Comment(23)
            a.forward Forward(23)