extends layout

block link
    link(rel='stylesheet', href='/stylesheets/home.css')
//block welcome
//    if(!user)
//        .jumbotron
//            h1 Welcome to Hom's MicroBlog
//            p This is a microblog system base on node.js
//            p
//                a.btn.btn-lg.btn-primary(href='/login', role='button') Login
//                a.btn.btn-lg.btn-primary(href='/signup', role='button') Sign Up
block content
    .page-outer
        .page-container.clearfix
            .dashboard
            .timeline
                - for(var i=0; i<5; i++)
                    include detailitem