extends layout

block link
    link(rel='stylesheet/less', href='/stylesheets/home.less')

block content
    .page-outer
        .page-container.clearfix
            .dashboard
                .module-mini-profile
                    a(href='/zhhyan')
                        .profile-wraper.clearfix
                            img.icon-avator(src='/images/default_profile_5_normal.png')
                            .full-name LeBron James
                            .view View my profile page
                    ul.clearfix
                        li
                            a
                                span.number 2
                                span TWEETS
                        li
                            a
                                span.number 3
                                span FOLLOWING
                        li
                            a
                                span.number 0
                                span FOLLOWERS
                    textarea#mini-profile-new(placeholder='Compose new tweet...')
            .timeline
                .header Tweets
                - for(var i=0; i<5; i++)
                    include detailitem
