.detail-list-item{
    /*border: solid 1px black;*/
    padding: 20px 0 5px 20px;
    border-bottom: solid 1px #e6e6e6;
}
.detail-user-avatar{
    float: left;
    width: 50px;
    height: 50px;
}
.detail-user-avatar img{
    width: 100%;
    height: 100%;
}
.detail-wrapper{
    margin-left: 65px;
}
.detail-user-name{
    /*color: #428bca;*/
    font-weight: bold;
    font-size: 1.2em;
}
.detail-text{
    padding: 4px 0;
}
.detail-info{
    padding: 6px 0 4px;
}
.comment,
.forward{
    float: right;
    padding: 0 3px;
}