nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    line-height: 38px;
    border: 1px solid transparent;
    background-color: #222;
    box-shadow: 0 0 10px #222;
}

.navbar-nav li.active{
    background: #080808;
}

.navbar-nav a{
    position: relative;
    display: block;
    padding: 0 15px;
    color: #999;
    font-size: 12px;
    font-weight: bold;
}

.navbar-nav li.active a,
.navbar-nav a:hover{
    color: #fff;
}

.container{
    width: 866px;
    margin: auto;
}

.navbar-header {
    float: left;
}

.navbar-brand {
    color: #999;
    float: left;
    font-size: 18px;
}

.navbar-nav a .text{
    padding-left: 5px;
}