html,
body,
.page-outer{
    height: 100%;
}

body{
    background: #c0deed url(../images/bg.png) no-repeat 0 40px;
}

.page-container{
    width: 866px;
    min-height: 100%;
    margin: 0 auto;
    padding: 14px 14px 0;
    background-image: url(../images/wash-white-30.png);
    border-radius: 6px;
}

.module{
  position: relative;
  margin-bottom: 10px;
  border-radius: 6px;
  background: #fff;
  background-clip: padding-box;
  border: @border_grey;
}

.dashboard{
    float: left;
    width: 302px;
    .mini-profile{
      background: #f9f9f9;
      background-clip: padding-box;
      a:hover{
        text-decoration: none;
      }
    }
    .profile-wraper{
      height: 56px;
      padding: 12px;
      .icon-avator{
        float: left;
        width: 32px;
        height: 32px;
        margin-right: 10px;
        border-radius: 3px;
      }
      .full-name{
        font-weight: bold;
        color: #333;
        &:hover{
          color: @nice-blue;
          text-decoration: underline;
        }
      }
      .view{
        font-size: 12px;
        color: #999;
      }
    }
    ul{
      border-top: @border_grey;
      border-bottom: @border_grey;
    }
    li{
      height: 48px;
      padding: 8px 12px;
      border-right: @border_grey;
      &:last-child{
        border-right: 0px;
      }
      .number{
        color: #333;
        font-weight: bolder;
      }
      span{
        display: block;
        color: #999;
        font-size: 12px;
      }
      &:hover span{
        color: @nice-blue;
      }
    }
    textarea{
      width: 276px;
      height: 32px;
      line-height: 32px;
      margin: 12px 15px;
      padding-left: 10px;
      resize: none;
    }
}

.trends{
  background: #f9f9f9;
  background-clip: padding-box;
  padding: 0 12px 12px;
  a{
    color: @nice-blue;
    font-size: 12px;
  }
  .trends-heading{
    padding: 12px 0 6px;
  }
  .trend{
    line-height: 18px;
  }
}

.dashboard-right{
  float: right;
  width: 522px;
  height: 100%;
  .heading{
    font-size: 18px;
    font-weight: bold;
    padding: 13px;
    border-bottom: @border_grey;
  }
  .action a{
    color: @nice-blue;
    font-size: 12px;
    font-weight: normal;
  }
}

.recommended-follower-list{
  padding: 12px;
}

.recommended-follower-item{
  margin-right: 36px;
  .avator{
    border-radius: 6px;
  }
  .full-name{
    font-weight: bold;
    line-height: 24px;
  }
  .username{
    color: @light_grey;
    font-size: 12px;
  }
  a:hover{
    text-decoration: none;
    .full-name{
      text-decoration: underline;
    }
  }
  .following-bar{
    margin-top: 6px;
  }
}

.icon-follow + span{
  padding-left: 2px;
  font-weight: bold;
}

.timeline{

}

@import "color";