*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.left{
  float: left;
}

.right{
  float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

body {
  padding-top: 40px;
  min-width: 980px;
  &, textarea{
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: @grey;
  }
}

h2{
  font-size: 26px;
  margin: 20px 0;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

a {
  cursor: pointer;
  &, &:visited{
    text-decoration: none;
  }
  &:hover,
  &:active{
    color: @nice-blue;
    text-decoration: underline;
  }
}

ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  float: left;
}

/**********button style**************/

.btn {
  display: inline-block;
  padding: 5px 10px;
  border: solid 1px transparent;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: solid 1px #ccc;
  border-radius: 4px;
  -moz-user-select: none;
  background-color: #ddd;
  background-repeat: repeat-x;
  background-image: linear-gradient(#fff, #ddd);
  &:hover{
    color: #333;
    text-decoration: none;
    background-color: #d8d8d8;
    background-image: linear-gradient(#f8f8f8, #d8d8d8);
    border-color: #bbb;
  }
}

.btn-lg{
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn.btn-primary{
  color: #fff;
  background-color: #428bca;
  background-image: none;
  border-color: #357ebd;
  &:hover,
  &:focus,
  &:active{
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

/**********input style**************/
input,
textarea,
div[contenteditable='true']{
  display: inline-block;
  margin: 0;
  outline: 0 none;
  background: #fff;
  border: solid 1px @lighter_grey;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  &:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
}

/**********border radius**************/

.small-border-radius{
  border-radius: 3px;
}

.middle-border-radius{
  border-radius: 6px;
}

@import "color";