html,
body,
.page-outer{
    height: 100%;
}

body{
    background: #c0deed url(../../images/bg.png) no-repeat 0 40px;
}

.page-container{
    width: 866px;
    min-height: 100%;
    margin: 0 auto;
    padding: 14px 14px 0;
    background-image: url(../../images/wash-white-30.png);
    border-radius: 6px;
}

.dashboard{
    float: left;
    width: 302px;
    height: 300px;
    background: #fff;
    border-radius: 6px;
}

.timeline{
    float: right;
    width: 522px;
    height: 100%;
    background: #fff;
    border-radius: 6px;
}